Source: llxamp
Section: devel
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper-compat (= 12), zero-dev, llxsrchelper
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Git: https://github.com/lliurex/llxamp/

Package: llxamp-cmdline
Architecture: any
Depends: ${misc:Depends},
  llxamp-install-pack,
  base-files (>= 11),
  build-essential,
  chrpath,
  lynx,
  openssl,
  fuse-overlayfs,
  python3,
  python3-dbus,
  python3-avahi,
  libbrotli1,
  libbz2-1.0,
  libcom-err2,
  libcurl4t64,
  libffi8,
  libfreetype6,
  libgcrypt20,
  libgmp10,
  libgnutls30t64,
  libgpg-error0,
  libgssapi-krb5-2,
  libhogweed6t64,
  libicu74,
  libidn2-0,
  libjpeg-turbo8,
  libk5crypto3,
  libkeyutils1,
  libkrb5-3,
  libkrb5support0,
  libldap2,
  liblzma5,
  libnettle8t64,
  libnghttp2-14,
  libonig5,
  libp11-kit0,
  libpng16-16t64,
  libpsl5t64,
  libreadline8t64,
  libsasl2-2,
  libsqlite3-0,
  libssh-4,
  libstdc++6,
  libtasn1-6,
  libtinfo6,
  libunistring5,
  libxml2,
  libxslt1.1,
  libzip4t64,
  libzstd1,
  libcrypt1,
  libexpat1,
  libpcre2-8-0,
  libuuid1,
  zlib1g
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains cmdline scripts

Package: llxamp-devel
Architecture: any
Depends: ${misc:Depends},
  build-essential,
  sudo,
  python3,
  autoconf,
  automake,
  bison,
  base-files (>= 11),
  llxamp-cmdline,
  libtool,
  libtool-bin,
  perl,
  libevent-dev,
  libexpat1-dev,
  libcrypt-dev,
  libicu-dev,
  libpcre3-dev,
  libxml2-dev,
  libsqlite3-dev,
  libbz2-dev,
  libcurl4-openssl-dev | libcurl4-dev,
  libpng-dev,
  libjpeg-dev,
  libfreetype-dev,
  libonig-dev,
  libreadline-dev,
  libxslt-dev,
  libxml2-dev,
  libzip-dev,
  libssl-dev,
  zlib1g-dev,
  tzdata,
  netbase
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains cmdline scripts for build install pack

Package: llxamp-install-pack
Architecture: any
Depends: ${misc:Depends},
  base-files (>= 11),
  curl
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains install-pack for LLXAMP

Package: llxamp-gui
Architecture: any
Depends: ${misc:Depends},
  llxamp-cmdline,
  python3,
  python3-pyside2.qtcore,
  python3-pyside2.qtwidgets
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package install gui interface

Package: zero-lliurex-llxamp
Architecture: any
Depends: ${misc:Depends},
Description: Zero-installer for LLXAMP
 Zero-installer install button for LLXAMP
