Source: llxamp
Section: devel
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper-compat (= 12), zero-dev, llxsrchelper
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Git: https://github.com/lliurex/llxamp/

Package: llxamp-cmdline
Architecture: any
Depends: ${misc:Depends},
  llxamp-install-pack,
  base-files (>= 11),
  build-essential,
  chrpath,
  lynx,
  openssl,
  fuse-overlayfs,
  python3,
  python3-dbus,
  python3-avahi,
  libasn1-8-heimdal,
  libbrotli1,
  libcurl4,
  libffi7,
  libfreetype6,
  libgcc-s1,
  libgcrypt20,
  libgmp10,
  libgnutls30,
  libgssapi3-heimdal,
  libgssapi-krb5-2,
  libhcrypto4-heimdal,
  libheimbase1-heimdal,
  libheimntlm0-heimdal,
  libhogweed5,
  libhx509-5-heimdal,
  libicu66,
  libidn2-0,
  libjpeg-turbo8,
  libk5crypto3,
  libkrb5-26-heimdal,
  libkrb5-3,
  libkrb5support0,
  libldap-2.4-2,
  libnettle7,
  libnghttp2-14,
  libonig5,
  libp11-kit0,
  libpng16-16,
  libpsl5,
  libroken18-heimdal,
  libsasl2-2,
  libsqlite3-0,
  libssh-4,
  libstdc++6,
  libtasn1-6,
  libunistring2,
  libwind0-heimdal,
  libxml2,
  libxslt1.1,
  libzip5,
  libpcre2-8-0,
  libgcc-s1
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains cmdline scripts

Package: llxamp-devel
Architecture: any
Depends: ${misc:Depends},
  build-essential,
  sudo,
  python3,
  autoconf,
  automake,
  bison,
  base-files (>= 11),
  llxamp-cmdline,
  libtool,
  perl,
  libevent-dev,
  libexpat1-dev,
  libcrypt-dev,
  libicu-dev,
  libpcre3-dev,
  libxml2-dev,
  libsqlite3-dev,
  libbz2-dev,
  libcurl4-openssl-dev | libcurl4-dev,
  libpng-dev,
  libjpeg-dev,
  libfreetype-dev,
  libonig-dev,
  libreadline-dev,
  libxslt-dev,
  libxml2-dev,
  libzip-dev,
  libssl-dev,
  zlib1g-dev,
  tzdata,
  netbase
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains cmdline scripts for build install pack

Package: llxamp-install-pack
Architecture: any
Depends: ${misc:Depends},
  base-files (>= 11),
  curl
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains install-pack for LLXAMP

Package: llxamp-gui
Architecture: any
Depends: ${misc:Depends},
  llxamp-cmdline,
  python3,
  python3-pyside2.qtcore,
  python3-pyside2.qtwidgets
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package install gui interface

Package: zero-lliurex-llxamp
Architecture: any
Depends: ${misc:Depends},
Description: Zero-installer for LLXAMP
 Zero-installer install button for LLXAMP
