[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Utility;
Comment[ca_ES]=Munta l'entorn LlxAMP
Comment=Mount LlxAMP environment
Exec=llxamp-user-mount
GenericName[ca_ES]=Muntador d'usuari LlxAMP
GenericName=User LlxAMP mounter
Name[ca_ES]=Muntador d'usuari LlxAMP
Name=User LlxAMP mounter
NoDisplay=true
StartupNotify=false
X-KDE-autostart-phase=1
